.con23 {
  background: grey;
  border-radius: 5px;
  padding: 30px;
}

.navbar-brand {
  background-color: rgb(255, 193, 112);
  padding: 10px;
  border-radius: 5px;
}

.nav-link {
  background-color: rgb(255, 193, 112);
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

.display-3 {
  color: rgb(255, 193, 112);
}

#randomNumber {
  background: rgb(255, 193, 112);
  margin-bottom: 5px;
}

.totalScore {
  background: rgb(255, 193, 112);
  margin-bottom: 5px;
  margin-top: 5px;
}

.updatedScore {
  background: rgb(255, 193, 112);
  margin-bottom: 5px;
  padding: 20px;
}
